/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* table {
	border-collapse: collapse;
	border-spacing: 0;
} // STYLING TABLE DOWN BELOW */
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/* ---------- VARIABLES ---------------------*/
/* ---------- ELEMENT SETTINGS ------------ */
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Arial', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
  color: #571126;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.67rem;
}
p {
  font-size: 1.5rem;
}
strong {
  font-weight: bold;
}
em (
	font-style: italic;
) .container {
  width: 100%;
}
/* ---------- BODY CONTENT CODE ------------ */
.navigation-section {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}
.navigation-section a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #571126;
}
.navigation-section a:first-child {
  margin-left: 60%;
}
.navigation-section a:hover {
  text-decoration: underline;
}
.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% auto 2%;
  background-color: black;
  color: white;
  padding: 2% 0;
}
.home-header .italic {
  font-style: italic;
}
.home-header h1 {
  margin-top: 1%;
}
table {
  width: 90%;
}
table td {
  font-size: 1.8rem;
}
