// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* table {
	border-collapse: collapse;
	border-spacing: 0;
} // STYLING TABLE DOWN BELOW */

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}


/* ---------- VARIABLES ---------------------*/
@accent-color: rgb(87, 17, 38);
@section-margin-left: 5%;
@section-margin-right: 5%;

/* ---------- ELEMENT SETTINGS ------------ */

html {
	font-size: 62.5%;
}

html, body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
	margin-bottom: 1.5rem;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
	color: @accent-color;
}

h3 {
	font-size: 1.7rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.83rem;
}

h6 {
	font-size: 0.67rem;
}

p {
	font-size: 1.5rem;
}

strong {
	font-weight: bold;
}

em (
	font-style: italic;
)

.container {
	width: 100%;
}


/* ---------- BODY CONTENT CODE ------------ */

// NAVIGATION SECTION
.navigation-section {
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin-top: 2%;

	a {
		text-decoration: none;
		font-size: 1.5rem;
		color: @accent-color;
	}

	a:first-child {
		margin-left: 60%;
	}

	a:hover {
		text-decoration: underline;
		//color: @accent-color
	}
}


// HEADER SECTION
.home-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	// background-image: url("Amarachi.jpg");
	margin: 2% auto 2%;
	background-color: black;
	color: white;
	padding: 2% 0;

	.italic {
		font-style: italic;
	}

	h1 {
		margin-top: 1%;
	}
}

// INTRODUCTION SECTION
.intro-section {
	margin-left: @section-margin-left;
	margin-right: @section-margin-right;
	margin-bottom: 2%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	// flex-wrap: wrap;
	width: 90%;
	height: 30%;
	padding-bottom: 5%;
	border-bottom: 2px dashed black;
	// border: 1px solid red;

	.intro-text {
		width: 40%;
		margin: auto 0;
		text-align: center;
		// border: 1px solid red;
	}

	.Amarachi-pic {
		// margin-right: 20%;
		height: 20%;
		width: 20%;

	}
}

// SKILLS SECTION
.skills-section {
	margin-left: @section-margin-left;
	margin-right: @section-margin-right;
}
	h2 {
		margin-bottom: 3%;
	}

	.skills-section-content {
		margin-left: @section-margin-left;
		margin-right: @section-margin-right;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 60px;
		width: 90%;

		.skills-tech, .skills-health {
			margin-right: 5%;
		}



}

// WORK HISTORY -- TABLE

table {
	width: 90%;

	td {
		font-size: 1.8rem;
	}
}




// .header-img {
// 	width: 70%;
// }